<header id="header" class="center" itemtype="https://scheme.org/{{ site.data.org['@type'] | default: 'Organization' }}" itemscope="">
	<div id="march" class="flex row">
		<img src="{{ site.data.org.image }}" itemprop="image" alt="" height="96" width="133" role="presentation" />
		<img src="{{ site.data.org.image }}" alt="" height="96" width="133" role="presentation" />
		<img src="{{ site.data.org.image }}" alt="" height="96" width="133" role="presentation" />
	</div>
	<h1 class="site-title">{{ site.data.org.name }}</h1>
	<p class="subheading">Coming Soon</p>
</header>
