<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="dark" />
		<meta name="description" content=" {{ page.description }}" />
		<meta itemprop="description" content=" {{ page.description }}" />
		<meta name="referrer" content="no-referrer" />
		<title>{{ page.title }}</title>
		<base href="/" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
		<link rel="preload" as="font" href="https://fonts.gstatic.com/s/grandstander/v15/ga6fawtA-GpSsTWrnNHPCSIMZhhKpFjyNZIQD9--P3_ctw.woff2" crossorigin="" />
		<link rel="stylesheet" href="/css/index.css" />
		<link rel="icon" href="/img/logo.svg" sizes="any" type="image/svg+xml" />
		<script src="/js/index.js" defer=""></script>
	</head>
	<body>
		{% include header.html %}
		<main id="main">{{ content }}</main>
		{% include footer.html %}
		<button type="button" class="btn btn-primary round fixed share" disabled="">Share This</button>
	</body>
</html>
